@use "./variables.scss" as *;

// put your custom CSS here!

// Clean up sidebar
.left {
  gap: 0.5rem;
}

// Make recent notes cleaner
.recent-notes {
  a {
    font-size: 0.85rem;
    line-height: 1.4;
  }
  
  // Hide tag list under recent notes
  ul ul {
    display: none;
  }
}

// Tidy explorer
.explorer {
  font-size: 0.85rem;
}

// Make graph view smaller
.graph {
  height: 200px;
}

// Add spacing between explorer items
.explorer ul li {
  margin-bottom: 0.4rem;
}

/* Fix tags to stay on one line */
.note-properties .note-properties-tags {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .recent-notes {
    display: none;
  }
}